<a class="navbar-brand" href="#">Vaccination Registry</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarsExampleDefault">
<ul class="navbar-nav mr-auto">
  <li class="nav-item" id="nav-operator">
    <a class="nav-link" href="#" id="operatorBtn">Operator</a>
  </li>
  <li class="nav-item" id="nav-vaccinator">
    <a class="nav-link" href="#" id="vaccinatorBtn">Vaccinator</a>
  </li>
  <li class="nav-item" id="nav-person">
    <a class="nav-link" href="#" id="personBtn">Your registry</a>
  </li>

</ul>
<div class="alert alert-success nav-alert" role="alert" id="globalAlert" style="display: none">

</div>

  <span class="text-danger" style="margin-right:10px" id="connectionStatus">
    Not connected
  </span>

  <div class="form-inline my-2 my-lg-0" style="margin-right:10px">
    <input class="form-control mr-sm-2" id="contract" type="text" placeholder="Contract address" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="setContractSubmit">Set</button>
  </div>

  <div class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" id="me" type="text" placeholder="My Address" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" id="setMeSubmit">Set</button>
  </div>

</div>
